---
import Layout from '~/layouts/PageLayout.astro';
import Vid from '~/components/widgets/Vid.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import TeamMember from '~/components/widgets/TeamMember.astro';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';

const teamMembers = [
  {
    name:"Padre Federico Highton",
    role: "Fundador y Director OGP",
    image:"https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551637/Pdr.F_urrzx4.jpg",
    socialLinks: {
    mail: 'https://twitter.com/johndoe',
  }
  },
  {
    name: "Karla Noguez",
    role: "",
    image: "https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551631/Karla_hyzcnm.jpg",
    socialLinks: {
      mail: 'https://linkedin.com/in/johndoe',
}
    },
  {
    name: "Leonor Suaya de Highton",
    role: "",
    image: "https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551811/SuayaH_g5t31t.jpg",
    socialLinks: {
      mail: 'https://twitter.com/johndoe',
}
  },
  {
    name:"Martín José Vergara",
    role:"",
    image:"https://res.cloudinary.com/dqk5ejjai/image/upload/v1737241555/team_martin_was7jl.jpg",
    socialLinks:{
      mail: 'https://twitter.com/johndoe',
}
  },
];


const metadata = {
  title: 'Whoweare',
};
---

<Layout metadata={metadata}>
  <TextOverlayImage
  image='https://res.cloudinary.com/dqk5ejjai/image/upload/v1737236869/abt_who01_fp4bzi.jpg'
  title="Who We Are"
  textBgOpacity = {0.1}
  backgroundSize = 'cover'
  titleSize = '7rem'
  textColor = 'white'
  backgroundHeight = '450px'
  backgroundWidth = '100%'
  containerWidth = '100%'
/>

  <Hero>
    <Fragment slot="title">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-arial text-red-800 font-bold">
        OUR MOTTO
      </h1>
    </Fragment><br/>
    <Fragment slot="subtitle">
      <blockquote class="text-red-800 md:text-2xl text-left font-bold italic dark:text-white">
        "Et praedicabitur hoc evangelium regni in universo orbe in testimonium omnibus gentibus; et tunc veniet consummatio."
      </blockquote><br/>
      <blockquote class="text-red-800 md:text-2xl text-left font-bold italic dark:text-white">
        "And this gospel of the kingdom will be preached throughout the whole world, as a testimony to all nations; and then the end will come."
      </blockquote>
      <p class="text-right text-red-800 md:text-2xl font-bold italic dark:text-white">
        -- Matthew 24:14
      </p>     
    </Fragment>
  </Hero>


  <div class="container mx-auto px-1 sm:px-6 lg:px-5 py-3">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Left Part: Text Content -->
      <div class="space-y-6">
        <h1 class="text-4xl sm:text-5xl font-bold text-red-800">
          Qué es el Omnes Gentes Project
        </h1>
        <p class="text-lg text-gray-700">
          El Omnes Gentes Project es una iniciativa establecida para hacer el primerísimo anuncio del Evangelio en todas aquellas zonas del mundo donde nadie lo ha escuchado aún.
        </p>
        <p class="text-lg text-gray-700">
          Los Misioneros del OGP anuncian el Evangelio donde nunca fue anunciado antes y donde no hay almas católicas. Para ello, enviamos misioneros que ganan almas y trabajan para ser santos. Por ende tenemos un solo objetivo, un solo fin, esto es, hacer el primer anuncio de la Santa Fe Católica a las poblaciones que no conocen a Cristo.
        </p>
      </div>
      <!-- Right Part: Video -->
      <div class="flex justify-center items-center">
        <Vid
        src="https://res.cloudinary.com/dqk5ejjai/video/upload/v1737238273/abt_who01_ap8pfv.mp4"
        width="100%"
        height="900px"
        marginTop="1rem"
        marginBottom="1rem"
        muted={true}
        loop={true}
        autoplay={true}
        /> 
      </div>
    </div>
  </div>


  <Hero
  image={{
    src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1737238925/missionaryspirit_eipqfm.jpg',
    alt: 'AstroWind Hero Image',
  }}
  >
    <Fragment slot="title">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-arial text-red-800 font-bold">
        Nuestra Espiritualidad
      </h1>
    </Fragment><br/>
    <Fragment slot="subtitle">
      <blockquote class="text-red-800 md:text-2xl text-left font-bold italic dark:text-white">
        Predicar y proponer la Santa Fe Católica con celo apostólico, parresía, fidelidad a la Revelación Divina, plena Marianización de la vida y confiados en la Divina Providencia, a toda la humanidad y por todo el mundo.
      </blockquote><br/>
    </Fragment>
    <Fragment slot="title">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-arial text-red-800 font-bold">
        Nuestro Espíritu Misionero 
      </h1><br/>
      <h3 class="text-2xl sm:text-2xl md:text-2xl font-arial text-red-800 font-semibold">
        ---Espíritu Épico y de Aventura.
      </h3>
    </Fragment><br/>
    <Fragment slot="subtitle">
      <p class="text-red-800 md:text-2xl text-left font-bold dark:text-white">
        Lo que diferencia a los Misioneros Épicos de cualquier otra fuerza apostólica en el globo no es sólo cómo se entrenan, el equipo que utilizan o sus tácticas. Hay algo mucho más importante: Es el espíritu épico que vive dentro de cada misionero, que los impulsa a aceptar nada menos que la más alta gloria Divina en todas las situaciones. Esa determinación para ganar almas, la ganancia de predicar y el alto estándar de excelencia, son lo que caracterizan las fuerzas del Omnes Gentes Project.
      </p>
    </Fragment>
  </Hero>

<!-- Orden San Elias -->
<Content
    title='Orden San Elías'
    isReversed
    callToAction={{ text: 'Visit St.Elias', href: 'https://www.ordensanelias.org/' }}
    items={[
      {
        description:
          'La Orden San Elías surgió a mediados de 2015, con la aprobación de la Iglesia, en plena meseta tibetana. Es una Sociedad de Vida Apostólica de derecho diocesano pro missionibus (cfr. Pastor bonus art. 90, inc. 2) dedicada a la predicación de la santa Fe católica con la más heroica parresía en dos frentes diversos: las misiones “Ad Gentes” (tierras donde la Iglesia aún no ha llegado) y el apostolado de la contra-revolución cultural.',
        icon: 'tabler:clock',
        },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1737240173/abt_who_se01_nsmthk.jpg',
      alt: 'Features Image',
    }}
  >
  </Content>
  <Content
    isAfterContent
    items={[
      {
        description:
          'Fundada por el P. Federico Highton y el Padre Javier Olivera Ravasi, busca ser una congregación donde se pruebe “hasta el fondo el gusto de la misión” (Evangelii Gaudium, 81), se busque la felicidad eterna de los demás como la busca Dios (cfr. EG, 92) y se salga “realmente a buscar a los perdidos” y “a las inmensas multitudes sedientas de Cristo” (EG, 95), aun cuando no sepan que lo están.',
        icon: 'tabler:clock',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1737240176/abt_who_se02_uj1ls3.jpg',
      alt: 'Benefits Image',
    }}
  >
  </Content>
  <Content
  isReversed
  items={[
    {
      description:
        'Desde 2016, los Misioneros del OGP están desplegados buscando ganar almas para Jesucristo en contextos desafiantes de paganismo completo, idolatría, poligamia o entornos hostiles.<br/><br/>En Marzo de 2021, la Orden San Elías ha sido llamada para evangelizar en ciertos territorios donde nunca ha llegado -o ha desaparecido- el catolicismo, a saber: el Norte de Sikkim (India), distintas regiones de África y América, entre otros.',
      icon: 'tabler:clock',
      },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
    alt: 'Features Image',
  }}
>
</Content>
<Content
isAfterContent
items={[
  {
    description:
      '<strong><em>NOTA: El nombre de “San Elías” proviene de nuestra admiración al heroico espíritu del Santo Profeta quién, con su celo y predicación incansable fue un misionero de fuego. Así como los padres Carmelitas se inspiran en él en su dimensión contemplativa, se busca aquí heredar su parresía misional.</em></strong>',
    icon: 'tabler:notes',
    },
]}
image={{
  src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
  alt: 'Features Image',
}}
>
</Content>

<Vid
src="https://res.cloudinary.com/dqk5ejjai/video/upload/v1737241765/abt_who_OrdenSanEl%C3%ADas_fbhoak.mp4"
width="100%"
height="700px"
marginTop="1rem"
marginBottom="1rem"
muted={true}
loop={true}
autoplay={true}
/> 

<TeamMember teamMembers={teamMembers} />

</Layout>
