---
import Image from '~/components/common/Image.astro';

const {
  cards = [],
  id,
} = Astro.props;
---

<section class="relative mt-7 mb-[-150px]" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <slot name="bg"></slot>
  </div>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <h2 class="font-bold text-2xl text-center mb-8">Otras formas de hacer tu donación</h2>

      <div class="card-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {cards.map((card) => (
          <div class="card w-full max-w-xs h-96 perspective-[1000px] transform transition-transform duration-500 hover:scale-105">
            <div class="card-inner relative w-full h-full transform-style-preserve-3d transition-transform duration-500">
              <!-- Front of Card -->
              <div class="card-front absolute inset-0 backface-hidden rounded-lg overflow-hidden">
                <Image
                  class="w-full h-full object-cover"
                  src={card.image}
                  alt={card.title}
                  width={400}
                  height={400}
                  loading="lazy"
                />
              </div>
              
              <!-- Back of Card -->
              <div class="card-back absolute inset-0 bg-[#b2161e] text-white p-4 rounded-lg shadow-lg backface-hidden transform rotateY-180">
                <div class="title text-xl font-bold mb-4">{card.title}</div>
                <div class="description text-base text-left overflow-wrap break-word">
                  {card.content.split('\n').map((line, index) => (
    <p {index}>{line}</p>
  ))}
                </div>
                <div class="card-back-image w-full h-auto max-h-36 overflow-hidden">
                  <Image
                    class="w-full h-full object-cover"
                    src={card.backImage}
                    alt="Card Back Image"
                    width={400}
                    height={250}
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  .card-container {
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .card {
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 1000px;
  }

  .card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .card-front img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-back {
    background-color: #b2161e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    overflow: hidden;
  }

  .card-back .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-back .description {
    font-size: 1rem;
    margin-top: 60px;
    margin-bottom: 15px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .card-back-image {
    max-height: 150px;
    overflow: hidden;
  }
</style>
